table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 70%;
  background-color: #f8f6f2;  
  text-align: center; 
}

td, th {
  padding: 14px;
  font-size: 15px;
  color: #333;
  border-bottom: 1px solid #e0d8c8;
}

section {
    margin-bottom: 40px;
}